a {
	position: relative;
	display: inline-block;
	line-height: 24px;
	height: 24px;
	text-decoration: none;
}

a::after {
	content: "";
	position: absolute;
	display: block;
	bottom: 100;
	left: 50%;
	width: 0;
	height: 5px;
	border-bottom: 3px solid rgb(255, 255, 255);
}

a,
a::after {
	transition: all 0.2s linear;
}

a:hover {
	color: #fff;
}

a:hover::after {
	left: 0;
	width: 100%;
}
